.form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    @apply w-[400px] flex flex-col gap-2 p-10;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    @apply h-10 text-lg text-start p-4 w-[320px]
}

.label {
    @apply font-bold text-sm
}

.formButton {
    border-radius: 10px;
    color: white;
    @apply bg-black h-10 flex justify-center items-center
}

.formImage {
    position: relative;
    left: 275px;
    top: -30px;
}

.formDiv {
    display: flex;
    flex-direction: column;
}

.signup_img{
  @apply p-10
}

@media screen and (max-width:768px) {
    .signup_img{
        display: none;
    }
}