.form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    @apply w-[400px]  flex flex-col gap-5 p-10;
}

.input {
    border: 1px solid black;
    border-radius: 8px;
    @apply h-10 text-lg text-start p-4
}

.label{
    @apply font-bold
}

.formButton{
    border-radius: 10px;
    color: white;
    @apply bg-black  h-10 
}

.formImage{
    position: relative;
    left: 290px;
    top: -30px;
}

.formDiv{
    display: flex;
    flex-direction: column;
}